<div class="row">
  <div class="col-md-6">
      <form #f="ngForm" (ngSubmit)="save(f.value)">

      <div class="form-group" *ngIf="category.id">
        <input #id="ngModel" [(ngModel)]="category.id" name="id" id="id" type="hidden" class="form-control">
      </div>

      <div class="form-group">
        <label for="name">Category Name</label>
        <input #name="ngModel" [(ngModel)]="category.name" name="name" id="name" type="text" class="form-control" required>
        <div class="alert alert-danger" *ngIf="name.touched && name.invalid">
          Name is required.
        </div>
      </div>

      <button class="btn btn-primary">Save</button>
      <button type="button" (click)="delete()" class="btn btn-danger">Delete</button>
    </form>
  </div>

</div>